:root {
    --background-color: #f9f7f3;
    --main-color: #feaa00;
    --font-color: #241117;
    --secondary-font-color: #f9f7f3;

    --secondary-background-color: #ededed;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

div.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header.top-header {
    margin-top: -2rem;
    margin-inline: -2em;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--background-color);
    width: -webkit-fill-available;
    border-radius: 1rem 1rem 0 0;
}

header.top-header h1 {
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header#results,
section#playableButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header#results {
    width: -webkit-fill-available;
    border-radius: 1rem 1rem 0 0;
}

section#icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: -webkit-fill-available;
    height: 20rem;
    background-color: var(--secondary-background-color);
    border-radius: 1rem;
}

section#icons .rps-icon {
    font-size: 3rem;
}

header#results > div,
section#playableButtons > div,
section#computerButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

section#playableButtons > div:first-child,
section#computerButtons {
    background-color: var(--secondary-background-color);
    border-radius: 1rem;
    padding: 1rem;
}

header#results > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.res-container {
    background-color: var(--secondary-background-color);
    color: var(--font-color);
    padding: 0.5rem 0.75rem;
    width: 4rem;
    border-radius: 1rem;
}

#round, #ties {
    font-size: 1.25rem;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

.small {
    font-size: 0.875rem;
}

.medium {
    font-size: 1.5rem;
}

.big {
    font-size: 2rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
}

button > i {
    font-size: 1.25rem;
}

.main-button {
    background-color: var(--main-color);
    color: var(--secondary-font-color);
}

.round-button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.rps-icon {
    width: 3.75rem;
    font-size: 2rem;
}

section#computerButtons button {
    cursor: default;
}

button:hover:not(:disabled) {
    opacity: 0.7;
}