body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section#results,
section#playableButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section#results > div,
section#playableButtons > div {
    display: flex;
    gap: 1rem;
}

section#results > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1, h2 {
    margin: 0;
}