:root {
    --background-color: #f9f7f3;
    --main-color: #e9c46a;
    --font-color: #264653;
    --secondary-font-color: #949eaa;
    --secondary-background-color: #ededed;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--main-color); */
    color: var(--font-color);
}

div.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 2rem 4rem;
    border-radius: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header#results,
section#playableButtons,
section#computerButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header#results {
    background-color: var(--main-color);
    width: -webkit-fill-available;
    margin-inline: -4rem;
    margin-top: -2rem;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}

section#icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: -webkit-fill-available;
    height: 20rem;
    background-color: var(--secondary-background-color);
    margin: 0 -4rem;
}

header#results > div,
section#playableButtons > div,
section#computerButtons > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header#results > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

.small {
    color: var(--secondary-font-color);
    font-size: 0.875rem;
}

.medium {
    font-size: 1.5rem;
}

.big {
    font-size: 2rem;
}

button {
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.rps-icon {
    font-size: 5rem;
}

.rps-button {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}

section#computerButtons button {
    cursor: default;
}

button:hover:not(:disabled) {
    opacity: 0.7;
}